<style>
  .shopping_cart_main_div {
    padding-top: 20px;
    background-color: bisque;
    height: 100vh;
  }
</style>
<div class="shopping_cart_main_div">
  <h2 align="center">Welcome to Shopping Cart!!</h2>
  <br />
  <table border="1" width="90%" align="center">
    <tr>
      <td align="center"><h3>Shopping Cart</h3></td>
    </tr>
    <tr>
      <td>
        <table border="1" width="100%">
          <tr>
            <td>
              <ul>
                <li>
                  <a routerLink="product/add" routerLinkActive="active">
                    Insert Product
                  </a>
                </li>
                <li>
                  <a routerLink="product" routerLinkActive="active">
                    Show Product
                  </a>
                </li>
              </ul>
            </td>
            <td width="70%" style="padding: 20px;">
              <router-outlet></router-outlet>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
